@keyframes spin {
  from {
    transform: rotate(0);
  }
  to {
    transform: rotate(360deg);
  }
}

.loader {
  animation: spin 0.5s infinite linear;
  position: relative;
  top: 2px;
  left: 2px;
}
