@import "../../../styles/variables.scss";

.arrowRightIcon {
  stroke: currentColor;

  &_primary > path {
    stroke: $text-primary;
  }

  &_secondary > path {
    stroke: $text-secondary;
  }

  &_accent > path {
    stroke: $text-accent;
  }
}
