@import "../../../styles/variables.scss";

.logoIcon {
  fill: currentColor;

  &_primary > path {
    fill: $text-primary;
  }

  &_secondary > path {
    fill: $text-secondary;
  }

  &_accent > path {
    fill: $text-accent;
  }
}
