@import '../../styles/variables.scss';

.checkbox {
  display: inline-block;
  height: 40px;
  width: 40px;
  background: $checkbox-bg;
  border: 1px solid $checkbox-border;
  position: relative;
  top: 2px;
  left: 2px;

  &:hover {
    background: $checkbox-bg-hover;
    border-color: $checkbox-border-hover;
    cursor: pointer;
  }

  &_disabled {
    background: $checkbox-bg-disabled;
    border-color: $checkbox-border-disabled;
    cursor: default;

    &:hover {
      background: $checkbox-bg-disabled;
      border-color: $checkbox-border-disabled;
      cursor: default;
    }
  }

  &__invisible {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    border: 0;
    clip: rect(0 0 0 0);
    overflow: hidden;
  }

  &__icon {
    top: -1px !important;
    left: -1px !important;
  }
}
